
.carousel-fade .carousel-item {
    position: relative;
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.card-images {
    height: 40vh;
}

.main-banner-inner {
    height: 600px;
}

.imgCarousel {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 769px) {
    .imgCarousel {
        height: 600px;
        object-fit: cover;
    }
}

.blog-title {
    display: -webkit-box;
    width: 100%;
    height: 10vh;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

#newsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-main {
    color: #1B97CF;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: transparent;
    border-bottom: 3px solid #0094DA;
    border-right: none;
    border-left: none;
    border-top: none;
}

.figures {
    box-shadow: 0 0 2px 0 #888888;
}
.tabbable .nav-tabs {
   overflow-x: auto;
   overflow-y:hidden;
   flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
  white-space: nowrap;
}
.tabbable ::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.tabbable ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.tabbable ::-webkit-scrollbar-thumb {
  background: #0094DA; 
  border-radius: 10px;
}

/* Handle on hover */
.tabbable ::-webkit-scrollbar-thumb:hover {
  opacity: 0.2;
}